Plugins/Aspose_Words_Java_for_IntelliJ(Maven)/src/com/aspose/maven/apis/artifacts/maven-metadata.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="metadata">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="groupId"/>
                <xs:element type="xs:string" name="artifactId"/>
                <xs:element type="xs:string" name="version"/>
                <xs:element name="versioning">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="latest"/>
                            <xs:element type="xs:string" name="release"/>
                            <xs:element name="versions">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="version" maxOccurs="unbounded"
                                                    minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:long" name="lastUpdated"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>